In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [54]:
df = pd.read_csv(r"C:\Users\malar\OneDrive\Desktop\AI Workforce\Milage\auto-mpg.csv")
nul=df.isnull().sum()
nul

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [55]:
dup=df.duplicated().sum()
dup

np.int64(0)

In [56]:
df['horsepower'] = df['horsepower'].replace('?', np.nan).astype(float)
df['horsepower']=df['horsepower'].fillna(df['horsepower'].mean())
x=df['horsepower'].isna().sum()
x

np.int64(0)

In [57]:
scaler = StandardScaler()
df['weight_scaled'] = scaler.fit_transform(df[['weight']])
df['acceleration_scaled'] = scaler.fit_transform(df[['acceleration']])

In [58]:
#Feature Engineering
df['Age of Car']=125-df['model year']
y=df.groupby('origin')['mpg'].mean()
print(df)
print(y)

      mpg  cylinders  ...  acceleration_scaled  Age of Car
0    18.0          8  ...            -1.295498          55
1    15.0          8  ...            -1.477038          55
2    18.0          8  ...            -1.658577          55
3    16.0          8  ...            -1.295498          55
4    17.0          8  ...            -1.840117          55
..    ...        ...  ...                  ...         ...
393  27.0          4  ...             0.011586          43
394  44.0          4  ...             3.279296          43
395  32.0          4  ...            -1.440730          43
396  28.0          4  ...             1.100822          43
397  31.0          4  ...             1.391285          43

[398 rows x 12 columns]
origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

In [ ]:
df.to_csv("cleaned_data.csv", index=False)
df

      mpg  cylinders  ...  acceleration_scaled  Age of Car
0    18.0          8  ...            -1.295498          55
1    15.0          8  ...            -1.477038          55
2    18.0          8  ...            -1.658577          55
3    16.0          8  ...            -1.295498          55
4    17.0          8  ...            -1.840117          55
..    ...        ...  ...                  ...         ...
393  27.0          4  ...             0.011586          43
394  44.0          4  ...             3.279296          43
395  32.0          4  ...            -1.440730          43
396  28.0          4  ...             1.100822          43
397  31.0          4  ...             1.391285          43

[398 rows x 12 columns]